<div class="container">
    <h1>Porfolio</h1>

    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam viverra euismod odio, gravida pallentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam viverra euismod odio, gravida pallentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam viverra euismod odio, gravida pallentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
    </div>
</div>